/* @font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 500;
  src: local('TT Lakes'), url('/1.4-NEW/fonts/TTLakes-Bold.woff'),
    url('/1.4-NEW//fonts/TTLakes-Medium.ttf'),
    url('/1.4-NEW/fonts/TTLakes-Medium.eot');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 700;
  src: local('TT Lakes'), url('/1.4-NEW/fonts/TTLakes-Bold.woff'),
    url('/1.4-NEW/fonts/TTLakes-Bold.ttf'),
    url('/1.4-NEW/fonts/TTLakes-Bold.eot');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 400;
  src: local('TT Lakes'), url('/1.4-NEW/fonts/TTLakes-Regular.woff'),
    url('/1.4-NEW/fonts/TTLakes-Regular.ttf'),
    url('/1.4-NEW/fonts/TTLakes-Regular.eot');
} */

.mobile-menu {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 1024px;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  font-family: 'TT Lakes', 'Arial', sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 535px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__lower-menu {
  display: flex;
  justify-content: flex-start;
  z-index: 5;
}
.main {
  width: 320px;
  height: 455px;
  background: #ffffff;
}
.main__menu-points a,
.footer__submenu-contact-mail,
.footer__submenu-lang a {
  text-decoration: none;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}
.button {
  border: none;
}
.button:hover {
  filter: invert(75%);
  transition: filter 0.5s ease;
  cursor: pointer;
}
.header__menu-burger-x {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 24px;
  top: 23px;
  border-radius: 20px;
  background-image: url('/1.4-NEW/icon/burgerX.svg');
}
.header__menu-group {
  position: absolute;
  height: 51px;
  width: 97px;
  left: 80.725830078125px;
  top: 18.72607421875px;
}
.header__menu-search {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 256px;
  top: 23px;
  border-radius: 20px;
  background-image: url('/1.4-NEW/icon/search.svg');
}
.header__lower-menu-call {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 24px;
  top: 804px;
  border-radius: 20px;
  background-image: url('/1.4-NEW/icon/call.svg');
}
.header__lower-menu-chat {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 80px;
  top: 804px;
  border-radius: 20px;
  background-image: url('/1.4-NEW/icon/chat.svg');
}
.header__lower-menu-profile {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 136px;
  top: 804px;
  border-radius: 20px;
  background-image: url('/1.4-NEW/icon/profile.svg');
}
.main__title {
  position: absolute;
  height: 32px;
  width: 4px;
  left: 2px;
  top: 116px;
  border-radius: 2px;
  background: #41f6d7;
}
.main__menu {
  position: absolute;
  height: 876px;
  width: 222px;
  left: 0px;
  top: 116px;
}
.main__menu-points {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.main__menu-points-text-repair {
  position: absolute;
  height: 24px;
  width: 120px;
  left: 24px;
  top: 4px;
}
.main__menu-points-text-repair-link {
  position: absolute;
  height: 24px;
  width: 120px;
  left: 0px;
  top: 0px;
  color: #7e7e82;
}
.main__menu-points-text-services {
  position: absolute;
  height: 24px;
  width: 132px;
  left: 24px;
  top: 60px;
}
.main__menu-points-text-services-link {
  position: absolute;
  height: 24px;
  width: 132px;
  left: 0px;
  top: 0px;
  color: #1b1c21;
}
.main__menu-points-text-corporate {
  position: absolute;
  height: 24px;
  width: 198px;
  left: 24px;
  top: 115px;
}
.main__menu-points-text-corporate-link {
  position: absolute;
  height: 24px;
  width: 198px;
  left: 0px;
  top: 1px;
  color: #1b1c21;
}
.main__menu-points-text-sellers {
  position: absolute;
  height: 24px;
  width: 149px;
  left: 24px;
  top: 172px;
}
.main__menu-points-text-sellers-link {
  position: absolute;
  height: 24px;
  width: 149px;
  left: 0px;
  top: 0px;
  color: #1b1c21;
}
.main__menu-points-text-partners {
  position: absolute;
  height: 24px;
  width: 85px;
  left: 24px;
  top: 228px;
}
.main__menu-points-text-partners-link {
  position: absolute;
  height: 24px;
  width: 85px;
  left: 0px;
  top: 0px;
  color: #1b1c21;
}
.main__menu-points-text-manufacturers {
  position: absolute;
  height: 24px;
  width: 130px;
  left: 24px;
  top: 284px;
}
.main__menu-points-text-manufacturers-link {
  position: absolute;
  height: 24px;
  width: 130px;
  left: 0px;
  top: 0px;
  color: #1b1c21;
}
.main__menu-points-text-service-centres {
  position: absolute;
  height: 24px;
  width: 188px;
  left: 24px;
  top: 340px;
}
.main__menu-points-text-service-centres-link {
  position: absolute;
  height: 24px;
  width: 188px;
  left: 0px;
  top: 0px;
  color: #1b1c21;
}
.main__menu-points-text-contacts {
  position: absolute;
  height: 24px;
  width: 72px;
  left: 24px;
  top: 396px;
}
.main__menu-points-text-contacts-link {
  position: absolute;
  height: 24px;
  width: 72px;
  left: 0px;
  top: 0px;
  color: #1b1c21;
}
.footer {
  position: absolute;
  width: 320px;
  height: 140px;
  top: 860px;
  left: 0px;
}
.footer__submenu-contact a,
.footer__submenu__lang a {
  text-decoration: none;
}
.footer__submenu-contact {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.footer__submenu-contact-mail {
  position: absolute;
  height: 24px;
  width: 106px;
  left: 24px;
  top: 0px;
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #1b1c21;
}
.footer__submenu-contact-tel {
  position: absolute;
  height: 32px;
  width: 196px;
  left: 24px;
  top: 37px;
  font-family: TT Lakes;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  color: #1b1c21;
}
.footer__submenu-lang {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  height: 24px;
  width: 87px;
  left: 1px;
  top: 109px;
  list-style-type: none;
  color: #1b1c21;
}
.footer__submenu-lang-ru {
  position: absolute;
  height: 24px;
  width: 25px;
  left: 24px;
  top: 0px;
  color: #7e7e82;
}
.footer__submenu-lang-en {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 56px;
  top: 0px;
  color: #1b1c21;
}
.footer__submenu-lang-ch {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 87px;
  top: 0px;
  color: #1b1c21;
}
