@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 500;
  src: local('TT Lakes'), url('/1.4-NEW/fonts/TTLakes-Bold.woff'),
    url('/1.4-NEW//fonts/TTLakes-Medium.ttf'),
    url('/1.4-NEW/fonts/TTLakes-Medium.eot');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 700;
  src: local('TT Lakes'), url('/1.4-NEW/fonts/TTLakes-Bold.woff'),
    url('/1.4-NEW/fonts/TTLakes-Bold.ttf'),
    url('/1.4-NEW/fonts/TTLakes-Bold.eot');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 400;
  src: local('TT Lakes'), url('/1.4-NEW/fonts/TTLakes-Regular.woff'),
    url('/1.4-NEW/fonts/TTLakes-Regular.ttf'),
    url('/1.4-NEW/fonts/TTLakes-Regular.eot');
}

